body {
  margin: 10px;
}

/*[description]
  # --> there are two types of gradient[ linear-gradient, radial-gradient]
        Radial creates a circular pattern  
  # --> its better to create 'gradient' from website. 
  # --> to use gradient, we'll use the 'bvackground' property.
        instead of the 'background-color'.
  # --> good site for gradient  [ https://cssgradient.io/ ]
*/

.box {
  height: 200px;
  width: 400px;
  background-color: dodgerblue;
  border: 10px dotted royalblue;
  border-top: 10px solid royalblue;
  border-bottom: 10px dashed royalblue;
  border-width: 10px 20px;
  border-radius: 10px;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: dodgerblue;
  border-radius: 100%;
  border: 10px dashed royalblue;
}

div {
  margin: 10px;
}
